/*colors */
/*media queries */
/* line 1, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.body-container, .menu-container {
  width: 100%;
  max-width: 984px;
  margin: auto; }

/* line 7, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
textarea {
  outline: none; }

/* line 11, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
input {
  outline: none; }
  /* line 17, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=search] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

/*/////////////////////////////////
 *			  Menu
 */
/* line 28, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu-wide {
  width: 100%;
  background: #282828;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  /* line 41, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
  .menu-wide.menu-small {
    height: 50px; }
    /* line 43, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-small .menu-container {
      height: 50px; }
      /* line 45, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
      .menu-wide.menu-small .menu-container .menu {
        height: 50px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    /* line 50, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-small span {
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 54, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-small img {
      height: 80px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 58, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-small .toggle-panel {
      top: 6px !important; }
  /* line 63, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
  .menu-wide.menu-big {
    height: 100px; }
    /* line 65, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-big .menu-container {
      height: 100px; }
      /* line 67, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
      .menu-wide.menu-big .menu-container .menu {
        height: 100px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    /* line 72, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-big span {
      height: 100px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 76, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu-wide.menu-big img {
      height: 100px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

/* line 83, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu-container {
  height: inherit; }

/* line 88, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu {
  width: 100%;
  max-width: 984px;
  height: inherit;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* line 96, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu-logo {
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 37px;
  color: #333333;
  display: inline-block;
  clear: both;
  text-align: center; }
  /* line 105, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
  .menu-logo img {
    max-height: 100px;
    margin: auto; }

/* line 112, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu ul {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  /* line 118, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
  .menu ul li {
    display: block;
    position: relative;
    width: 14%;
    float: left; }
  @media (min-width: 768px) {
    /* line 112, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
    .menu ul {
      position: relative !important;
      right: 0 !important; } }

/* line 129, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu a {
  text-decoration: none;
  color: #F2F2F2; }

/* line 133, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu a:hover {
  color: #E82D43; }

/* line 138, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu ul li a span:hover {
  color: #E82D43; }

/* line 143, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu a {
  padding: 0;
  display: table;
  margin: auto;
  width: inherit;
  height: inherit; }

/*.menu-active {
 *	color : #ED504C !important;
 *	border-bottom: solid 3px #306D96;
 *
 *}
 *
 *.menu-active span, .menu-active a{
 *	color : #ED504C !important;
 *} */
/* line 163, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu-span {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  color: #F2F2F2; }

/* line 174, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu-span-logo {
  display: table-cell;
  vertical-align: middle;
  width: inherit; }

/* line 180, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
.menu-logo-mobile {
  display: none; }

/* line 184, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
#mobile-menu {
  transition: -webkit-transform 500ms cubic-bezier(0.9, 0.01, 0.165, 0.99);
  transition: transform 500ms cubic-bezier(0.9, 0.01, 0.165, 0.99);
  -webkit-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0); }
  /* line 190, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_body.scss */
  #mobile-menu.mobile-menu-open {
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0); }

/* line 1, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
#mountains {
  height: 864px;
  width: 100%;
  margin: auto;
  background-color: #282828;
  position: relative;
  overflow: hidden; }
  /* line 8, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
  #mountains img {
    width: 100%;
    min-width: 3136px;
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    margin: auto; }
    /* line 16, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
    #mountains img.mountain1 {
      z-index: 40; }
    /* line 19, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
    #mountains img.mountain2 {
      z-index: 30; }
    /* line 22, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
    #mountains img.mountain3 {
      z-index: 20; }
  /* line 26, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
  #mountains #canvas {
    -webkit-clip-path: url("#clip-polygon");
    clip-path: url("#clip-polygon");
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: 5000;
    left: -9999px;
    right: -9999px;
    margin: auto; }

/* line 39, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
.sun {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  margin: auto;
  background-color: #E82D43; }

/* line 47, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mountains.scss */
.grain {
  position: absolute;
  width: 100%;
  pointer-events: none;
  height: 100%;
  background-image: url("../img/grain.gif");
  opacity: 0.04;
  z-index: 35; }

@media (min-width: 768px) {
  /* line 1, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_desktop.scss */
  body {
    width: 100%; }
  /* line 5, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_desktop.scss */
  .toggle-panel {
    display: none !important; } }

@media (max-width: 767px) {
  /* line 1, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobile.scss */
  body {
    width: 100%;
    min-width: 0; }
  /* line 6, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobile.scss */
  .toggle-panel {
    display: none !important; }
  /* line 8, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobile.scss */
  .menu-span {
    font-size: 14px; }
  /* line 13, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobile.scss */
  .menu-logo a {
    width: 100%; }
    /* line 15, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobile.scss */
    .menu-logo a img {
      width: 100%; } }

@media (max-width: 600px) {
  /* line 1, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .domain-text {
    width: 100%; }
  /* line 5, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .domain-button {
    width: 100%;
    margin-top: 5px; }
  /* line 10, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .domain-loading {
    right: 2%; }
  /* line 14, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .services-front {
    height: 440px; }
    /* line 16, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
    .services-front ul {
      padding: 0px 15px; }
    /* line 19, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
    .services-front span {
      font-size: 13px; }
  /* line 24, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .service-circle {
    height: 92px;
    width: 92px;
    margin-top: 37px;
    margin-bottom: 10px; }
    /* line 29, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
    .service-circle img {
      max-height: 58px; }
  /* line 34, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  #menu {
    display: none !important; }
  /* line 38, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .menu-toggle {
    display: block !important; }
  /* line 42, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .toggle-panel {
    display: block !important; }
  /* line 46, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .menu {
    height: 250px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    /* line 55, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
    .menu ul {
      width: 100%;
      height: auto;
      margin-top: -5px;
      overflow: hidden;
      padding-bottom: 10px; }
      /* line 61, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
      .menu ul li {
        width: 100%; }
    /* line 65, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
    .menu a {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      /* line 67, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
      .menu a.toggle-panel {
        width: auto;
        position: absolute;
        top: 25px;
        right: 25px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        /* line 73, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
        .menu a.toggle-panel i {
          display: table-cell;
          vertical-align: middle; }
  /* line 82, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .menu-bar li {
    height: 46px; }
    /* line 84, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
    .menu-bar li span {
      text-align: center;
      height: 30px;
      font-size: 25px; }
  /* line 93, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .menu-logo-mobile {
    display: block; }
  /* line 97, Z:/Web design/Midgraph/Project Mountains - Wide/sass/_mobiletiny.scss */
  .grain {
    display: none; } }

/* hello */

/*# sourceMappingURL=style.css.map */