.domain-text {
    width:100%;
}

.domain-button {
    width: 100%;
    margin-top: 5px;
}

.domain-loading{
    right: 2%;
}

.services-front{
    height: 440px;
    ul{
        padding: 0px 15px;
    }
    span{
        font-size: 13px;
    }
}

.service-circle{
    height: 92px;
    width: 92px;
    margin-top: 37px;
    margin-bottom: 10px;
    img{
        max-height: 58px;
    }
}
