body{
    width: 100%;
    min-width: 0;
}

.toggle-panel { display: none !important; }

.menu-span{
    font-size: 14px;
}

.menu-logo{
    a{
        width:100%;
        img{
            width: 100%;
        }
    }
}

